@import '/src/breakpoint.scss';
@import '/src/mixins.scss';

.container {
  @include boxDesign();
  width: 100%;
  height: auto;
  min-height: 97%;
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    box-sizing: border-box;
  }

  &_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_item {
      padding-block: 1rem;
      padding-inline: 2rem;
      @include boxDesign();
    }
  }

  &_row {
    display: flex;
    flex-direction: row;
    @include respond(tab-land) {
      flex-direction: column;
    }
    gap: 1rem;
    justify-content: center;
    &_item {
      @include boxDesign();
      padding-block: 1rem;
      padding-inline: 2rem;
      flex: 1;
    }
  }

  &_chart {
    position: relative;
  }

  &_calendar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .MuiDayCalendar-weekContainer {
    height: 2rem;
    button {
      height: 5rem;
    }
  }
}

.heading {
  @include headerFont();
}

select {
  border-radius: 10px;
  background-color: #e9e9f4;
  color: #1977f3;
  padding: 0.2rem;
  border: none;
  margin-left: auto;
  width: 100%;

  &:focus {
    outline: none;
  }
  & option {
    background-color: #f1f1f1;
    color: #686868;
    padding: 5px;
    border: none;
  }
}


.margin_left_auto {
  margin-left: auto;
  margin-right: 1rem;
}

.filterContainer {
  display: flex;
  gap: 0.5rem; /* Adjust spacing between dropdowns */
  margin-left: auto; /* Push the dropdowns to the right */
}
.containerheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


