.dialogTitle {
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}
.dialogContent {
  margin: auto;
}
.name {
  margin-top: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.dialogActions {
  margin: auto !important;
}
