.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.formSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 16px;
}

.formControl {
  min-width: 200px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px; /* Adjust height as necessary */
  gap: 0.7rem;
}

