.medicationContainer {
  padding: 20px;
}

.menuCard {
  margin-right: 20px;
}

.menuItem {
  padding: 10px;
  display: flex;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  align-self: flex-start;
  cursor: pointer;
  border: 1px solid #ddd;

  &:hover {
    background-color: #f5f5f5;
  }
}

.active {
  background-color: #ff9800 !important;
  color: white !important;
  border: 1px solid #ff9800 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.medicationTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  th {
    background-color: #f3f4f6;
    text-align: left;
  }

  td {
    text-align: center;
  }
}

.saveButton {
  display: block;
  margin: 0 auto;
  width: 100px;
}
