.header {
  background-color: #1977f3;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  color: white !important;
  font-size: medium;
}

.tableContainer {
  margin-bottom: 1rem;
  // border-radius: 1.5rem 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important; 
  border-bottom-right-radius: 1.5rem !important;
  height:85%; 
  scrollbar-width: thin;

}

.tableContainerTax {
  border-radius: 1.5rem 1.5rem !important;
  margin-bottom: 1rem;
}

.pagenavigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20rem;
  margin-left: auto;
  select {
    margin: 0 1rem;
  }
}