
.info_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-start;
  button {
    border: none;
    background-color: #1977f3;
    padding: 0.8rem 1rem;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    img {
      margin-right: 0.4rem;
    }
  }
}
.vital_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Create 3 equal-width columns
  grid-template-rows: repeat(2, auto);  // Create 2 rows with auto height
  gap: 1rem; // Space between cards
  padding: 2rem;
  box-sizing: border-box;

  // Custom layout for 5 cards
  & > .card:nth-child(1) {
    grid-column: span 1; // Span 1 column
    grid-row: 1; // Top row
  }
  & > .card:nth-child(2) {
    grid-column: span 1; // Span 1 column
    grid-row: 1; // Top row
  }
  & > .card:nth-child(3) {
    grid-column: span 1; // Span 1 column
    grid-row: 1; // Top row
  }
  & > .card:nth-child(4) {
    grid-column: span 1; // Span 1 column
    grid-row: 2; // Bottom row
  }
  & > .card:nth-child(5) {
    grid-column: span 1; // Span 1 column
    grid-row: 2; // Bottom row
  }


  .card {
    min-height: 14rem;
    cursor: pointer;
    background-color: red;
    border-radius: 40px;
    background: #4eb9f6;
    box-shadow: 0px 10px 30px 0px rgba(78, 185, 246, 0.3);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    color: #fff;
    padding: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;

   

    &_info {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        display: flex;
        align-items: center;

        img {
          margin-left: 1rem;
          height: 1.2rem;
          width: 1.2rem;
          object-fit: contain;
        }
      }

      h1 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        margin-top: auto;
        margin: 0;
      }
    }

    &_icon {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .orange {
    background: #f79797;
  }

  .green {
    background: #58ceb2;
  }

  .violet {
    background: #a2bffe;
  }
  .pink {
    background: #E96B89;
  }
}
