@import './../../breakpoint.scss';

@mixin boxDesign() {
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

@mixin headerFont() {
  color: #1977f3;
  font-weight: 600;
}

.container {
  @include boxDesign();
  width: 100%;
  height:100dvh;
  overflow: scroll;
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    box-sizing: border-box;
  }

  &_row {
    display: flex;
    flex-direction: row;
    @include respond(tab-land) {
      flex-direction: column;
    }
    gap: 1rem;
  }

  &_graph {
    display: flex;
    flex: 1;
    padding: 0.8rem;
    padding-left: 0.2rem;
    @include boxDesign();

    &_side {
      display: flex;
      flex: 2;
    }
    // padding: 1rem;
    &_box {
      // flex: 3;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      flex: 4;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); // Added shadow
      border-radius: 20px; // Optional: Add a border radius for smoother corners
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0.2rem;
      @include respond(tab-mid) {
      }
      &_header {
        margin-left: 2rem;
        margin-top: 1rem;
        color: #ffced6;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        select {
          border-radius: 10px;
          background-color: #e9e9f4;
          // color: #1977f3;
          color: #ffced6;
          padding: 0.2rem;
          border: none;
          margin-left: auto;
          width: 100%;
          margin-right: 15px;
          &:focus {
            outline: none;
          }
          & option {
            background-color: #f1f1f1;
            color: #686868;
            padding: 15px;
            border: none;
          }
        }
      }
    }
    &_side_box {
      flex: 1;
      min-width: 8rem;
      height: 90%;
      margin: auto 0.3rem;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: border-box;

      img {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
      }
      p {
        margin-top: auto;
        color: #2e3b52;
        font-size: small;
        // margin-bottom: 0;
      }
      h2 {
        margin-bottom: 0.5rem;
        color: #020202;
      }
      h4 {
        color: black;
        font-weight: 600;
        margin: 0;
      }
    }
    &_side_1 {
      background: #d2eaff;
    }
    &_side_2 {
      background: #e8faea;
    }
  }

  &_graph_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    &_header {
      display: flex;
      @include headerFont();

      select {
        border-radius: 10px;
        background-color: #e9e9f4;
        color: #1977f3;
        padding: 0.2rem;
        border: none;
        margin-left: auto;
        width: 100%;

        &:focus {
          outline: none;
        }
        & option {
          background-color: #f1f1f1;
          color: #686868;
          padding: 5px;
          border: none;
        }
      }
    }
  }

  &_calendar {
    @include boxDesign();
    padding: 1rem;
  }

  &_patient_data {
    @include boxDesign();
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 50vh;

    &_header {
      @include headerFont();
    }
  }

  &_patient_chart {
    @include boxDesign();
    padding: 2rem;
    flex: 1;
    overflow-y: auto;

    &_header {
      @include headerFont();
      display: flex;
      font-size: 1rem;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .MuiDayCalendar-weekContainer {
    height: 2rem;
    button {
      height: 5rem;
    }
  }
}

.margin_left_auto {
  margin-left: auto;
  margin-right: 1rem;
}

.filterContainer {
  display: flex;
  gap: 0.5rem; /* Adjust spacing between dropdowns */
  margin-left: auto; /* Push the dropdowns to the right */
}

