:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 1150px) {
  *::-webkit-scrollbar {
    width: 5px;
  }
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="%231977f3"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Margin from right */
  padding-right: 20px; /* Increased to accommodate larger icon */
  background-size: 20px; 
  cursor: pointer; 
}

